.checkbox {
&__input {
    position: absolute;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

&__text {
    display: inline-flex;

    color: $main-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

&__custom::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border: 2px solid $brand-color;
    border-radius: 2px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__input:hover~&__custom::before,
&__input:focus~&__custom::before {
    opacity: 1;
}

&__link {
    margin-left: 2px;
    color: $brand-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

&__custom {
    position: relative;
    margin-right: 8.38px;
}

&__icon--activ {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__input:checked+&__custom &__icon--activ {
    opacity: 1;
}

&__input:focus>&__text::before {
    opacity: 1;
}}