.filter {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
&__item:not(:last-child) {
    margin-right: 8px;
}



&__btn {
    padding: 6px 22px;
    flex-shrink: 0;
    border-radius: 4px;
    color: $color-title;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    background: $filter-background;
    border: none;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__btn:hover,
&__btn:focus,
&__btn:active {
    color: $White-color;
    background: $brand-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}}

