.logo {
    font-family: $logo-font;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    
&__secondary {
    color: $brand-color;
}
}

.header__logo {
    margin-right: 94px;

    color: $logo-header;
}


.footer__logo {
    display: block;
    margin-bottom: 20px;

    color: $White-color;
}