.navigation {
    display: flex;
    align-items: center;
&__link {
    color: $color-title;
       font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__list {
    display: flex;
}

&__link:hover,
&__link:focus,
&__link:active {
    color: $brand-color;
}

&__list>.item:not(:last-child) {
    margin-right: 50px;
}

&__item {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
}

&__link--active {
    color: $brand-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    list-style-image: none;
}

&__link--active::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: $brand-color;
    border-radius: 2px;
}}

