

.product-thumb {
    position: relative;

    overflow: hidden;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&__imges {
    display: block;
}

&__overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 100%;
    height: 100%;

    background: $product-thumb;

    opacity: 0;
    transform: translateY(100%);

    transition: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__text {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 322px;

    color: $White-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;

    transform: translate(-50%, -50%);
}}

